#board {
    background: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='img/board.png');
}

.tile {
    background-color: transparent;
    background-image: url('img/tiles.gif');
    background-repeat: no-repeat;
    font-size: 0
}

.controls .lft {
    background: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='img/ctrl_bar_lft_bg.png');
}

.controls .bg {
    background: transparent url('img/ctrl_bar_bg_ie.png') repeat-x 0 0 scroll;
}

.controls .rgt {
    background: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='img/ctrl_bar_rgt_bg.png');
}

.info {
    margin-left: 10px;
}

.info .moves_bg {
    background: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='img/moves_bg.png');
}